# Django
DJANGO_SETTINGS_MODULE='config.django.local'
DJANGO_DEBUG=True
SECRET_KEY=yoursecretkey
ALLOWED_HOSTS=

# PostgreSQL
POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_SSL_MODE=disable
